.App {
  font-family: sans-serif;
  text-align: center;
}

.display {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

body {
  font-size: 25px;
  color: black;
  padding: 3px;
  background-color: lightcyan;
  font-weight: bold;
}

button {
  background-color: black;
  font-size: 25px;
  color: white;
  margin-inline: 20px;
}

.date {
  background-color: black;
  color: wheat;
  border-radius: 10px;
  padding: 10px;
}

.reset {
  border-radius: 10px;
  width: 50%;
}

.reset:hover {
  background-color: rgb(37, 37, 35);
}

.count {
  background-color: black;
  color: white;
  padding: 6px;
  font-weight: 600;
}

.step {
  display: flex;
  flex-direction: column;
}
